torch==2.5.0
torchvision==0.20.0
cupy-cuda12x
transformers==4.46.2
controlnet-aux==0.0.7
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
matplotlib
onnxruntime
opencv-python>=4.9.0.80
diffusers>=0.31.0
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
scikit-image   
loguru
gradio>=5.0.0
numpy>=1.23.5,<2
pyloudnorm
lightning
optimum-quanto==0.2.6
peft==0.17
tensorboard
deepspeed
xfuser
xformers
librosa
huggingface_hub[cli]